/**
    folha de estilo do professor.com
    @author 
*/

/* Layout __________ */

/* Variaveis */
:root{
    --azulClaro: #9cdcfe;
    --azulMedio: #3498db;
    --branco: #ffff;
    --pao: #F9A825;
    --marrom: #d2922e;
    --preto: #0000;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.layout {
    margin: 0;
}
/* Botão */
.btn {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--pao);
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 20px;
    border: 0.5px solid var(--Branco);
}
/* FIMM - LAYOUT _______________ */


/*Smartphone portrait ___________*/
/*Cabeçalho */
header {
    height: 65px;
    background-color: var(--pao);
}

/*.logo img {
    width: 128px;
    height: 128px;
} */ 

#check {
    display: none; /*esconder um elemento*/
}

label {
    font-size: 3rem;
    color:rgba(156,220,254, 0.75);
    position: fixed;
    top:5px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(0,0,0, 0.9);
    width: 30%;
    right: -30%; /*ajustar com width */
    transition: all 0.7s;
}

/* Ação para a caixa check */
/* Quando selecionada mudar ul */
#check:checked~ul{
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--marrom);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
}


/* Principal */
main {
    height: 50vh;
    background: url('./img/banner.jpg');
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--Branco);
    font-family: "Koulen", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: #2e1a47 2px 2px 4px;
}

main h2 {
    color: var(--Branco);
    font-family: "Koulen", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: #2e1a47 2px 2px 4px;
    margin-bottom: 30px;
}
/*FIM DO SMARTPHONE PORTRAIT ________*/


/*Smartphone landscape _____________*/
@media (min-width: 576px) {
/*     Cabeçalho 
    nav ul {
        width: 30%;
        right: -30%;
    }*/
}

 /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        /* Ajustar com Width */
        right: -40%;
    }
    /* Principal */
    main{
        height: 70vh;
    }
    main h1{
        font-size: 4rem;
    }
    main h2{
        font-size: 2rem;
    }

/*FIM DO Smartphone landscape___________*/


/*Tablet portrait_______________*/
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }
        /* Principal */
    main{
        height: 50vh;
    }
    main h1{
        font-size: 5rem;
    }
    main h2{
        font-size: 3rem;
    }

}

/*fim Tablet portrait_________*/

/* Tablet landscape___________*/
@media (min-width: 992px) {

  /* Layout */
    .container {
        max-width: 960px;
    }
    /* Principal */
    main{
        height: 50vh;
    }
}

/* FIM Tablet landscape__________*/

/* Notebook / PC - HD ___________*/
@media (min-width: 1200px) {
     /* Layout */
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }
    /* Cabeçalho */
    header {
        height: 120px;
    }

    .logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 50px; /* adc*/
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: #3498db;
    }
    main {
        height: 50vh;
    }
}
/* FIM Notebook / PC - HD */


/* Notebook / PV / TV - Full HD ou 4k */
@media (min-width: 1400px) {
  /* Layout */
    .container {
        max-width: 1320px;
    }
    /*Principal */
    main h1{
        font-size: 6rem;
    }
    main h2{
        font-size: 4rem;
    }



}
/*FIM  Notebook / PV / TV - Full HD ou 4k */